.react-tel-input .form-control {
   border: none !important;
}

.react-tel-input .flag-dropdown {
   height: 2.5rem !important;
   width: 2.5rem !important;
   top: 0.15rem !important;
   border: none !important  ;
   border-radius: 3rem !important;
   background-color: #fff !important;
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
   border: none !important  ;
   border-radius: 3rem !important;
   background-color: #f5f5f5 !important;
}
