*{
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@media (max-width: 446px) {
    #herobtn{
        font-size: 13px;
    }
}

@media (max-width: 965px) {
    #AboutUs{
        padding-top: 0;
    }
    #Hero{
        padding-bottom: 0;
    }
}